.footer{
    background-color: #4a4a4a;
    color: white;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10px 1fr;
    justify-items: center;
    align-items: center;
    font-size: 16px;
    line-height: 30px;

.footer__box{
    @media(min-width: 768px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap:88px ;
    }
}   


}
.footer__box-1{
    margin-top: 30px;
}
.footer__box-2{
    @media(min-width: 768px){
    margin-top: 30px;}
}
.footer__box-3{
padding-bottom: 45px;
@media(min-width: 768px){
     margin-top: 30px;
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 1;
}
}

.footer__small{
    text-transform: none;
}
.fa{

    color: #6c933e;
}