.header__logo{
    background-image: url(/images/cover.jpeg);
    height: 552px;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  
}
.header__menu{
   background-color:#6c933e;
   padding: 10px;
   width: 16px; 
   border-radius: 2px;

}
.header__title{
   
    color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
 
}
.header__text{
    
    color: white;
    width: 260px;
    font-weight: 400;
    text-align: center;
  
}
.header__box{
    height: 400px;
    display: flex;
    justify-content: flex-end;
    flex-direction:column;
    gap: 12px;
    

    align-items: center;
}