

.header__logo{
    background-image: url(/images/cover.jpeg);
    height: 552px;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

.menu{
    position: fixed;
 
}
  
}
.header__menu{
   background-color:#6c933e;
   padding: 10px;
   width: 16px; 
   border-radius: 2px;

}
.header__title{
   
    color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
 
}
.header__text{
    
    color: white;
    width: 260px;
    font-weight: 400;
    text-align: center;
  
}
.header__box{
    height: 400px;
    display: flex;
    justify-content: flex-end;
    flex-direction:column;
    gap: 12px;
    

    align-items: center;
}
.header__scroll{
    background-color: white;
    border-radius:50% ;
    width: 36px;
    height: 36px;
    text-align: center;
    align-content: center;
    
   
    
}
.header__scroll-image{
    width: 13px;
    height: 11px;
    
}
.header__botton{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}