.shop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 13px;
    margin-top: 30px;
    gap: 10px;
    
}
.shop__title-1{
    text-transform: uppercase;
    color: #6c933e;
    font-size: 14px;
    font-weight:400;
}
.shop__title-2{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}
.shop__text{
    padding-right: 1.5em;
    font-size: 18px;
    line-height: 30px;
    color: #4a4a4a;
    font-weight: 300;
    
}
.shop__btn-link{
    text-decoration: none;
    color: #6c933e;
    font-size: 20px;
    font-weight:400;
 
}
.shop__btn{
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 15px;
    align-content: center;
    text-align: center;
    background-color: white;
    width: 160px;
    height: 45px;
    border-radius: 22.5px;
    border:solid #6c933e 3px;
}
