@import url(./core/_reset.scss);
@import url(./core/_variables.scss);
@import url(./layout/_header.scss);
@import url(./layout/_shop.scss);
@import url(./layout/_school.scss);
@import url(./layout/_footer.scss);