.box{
    display: flex;
    align-items: center;
 background-color: cyan;
 color: white;
 width: 100px;
 height: 100px;
}
.minibox{
    width: 30px;
    height: 30px;
    background-color: lightgreen;
}
.container{
    margin-top: 100px;
    display: flex;
flex-wrap: wrap;
    justify-content: space-between;
   /* flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;*/
}
.container-vertical{
    height: 1000px;
    display: flex;
    flex-direction: column; /*row,column,row-reverse*/
    align-items: center;

}
.spotlight{
    order: -1;
    background-color: rgb(25, 208, 208);
}