.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.header__logo{
   height: 60px; 
}
.header__menu--mobile{
    height: 60px;
    @media(min-width: 768px){
    display: none;
    }
}
.header__menu--desktop{
    display: none;
    @media(min-width: 768px){
        display: block;}
    
}
.menu__list{
    display: flex;

}
.menu__link{
    color: white;
    text-decoration: none;
    padding-inline: 2em;

}
.menu__link--separator{
    border-right: solid;
}
    